
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-decoration: none;
}
body{
  overflow-x: hidden;
  font-family: 'Kumbh Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  height: 900px; 
}

.container{
  background-color: rgba(rgb(231, 222, 222), rgb(216, 230, 216), rgb(244, 244, 248), alpha);
  display: flex;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1rem;
  box-shadow: 0px 7px 10px -15px #111; 
}

.nav-toggle{
  display: none;
  position: relative;
  left: 1rem;
}

.rounded{
  border-radius: 12px;
}
.hidden{
  display: none;
}


ul li{
  list-style: none;
  display: inline-block;
  line-height: 100px;
  font-family:'Kumbh Sans', sans-serif;
}
ul li a{
  text-decoration: none;
  padding-left:24px;
  cursor: pointer;
}
.navbar{
  margin-left: 30px;
 
}

.nav-link:hover,
.nav-link:focus {
color: black;
font-weight: 500;
}

.nav-link {
position: relative;
}

.nav-link::before {
content: "";
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 3.8rem;
height: 3px;
background-color: hsl(26, 100%, 55%);
transition: 300ms ease-out;
transform: scaleX(0);
}
.nav-link:hover{
  color: grey;
}
.nav-link:hover::before,
.nav-link:focus::before {
transform: scaleX(0.9);
}

  .grid{
     display: grid;
  }

  .font-bold{
   font-weight: bold;
  }

.image-list{
  position: relative;
  display: flex;
  padding-left: 160px;

}
.sideImages{
  margin-right:45px;
}

.cartIcon{
  margin-top: 15px;

}
.avatar{
  height: auto;
  width:50px ;
 
}
.avatar:hover{
  border: 1.9px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}
/* End of header */



    /* ToggleMenu */
    .nav{
      display: none;
    }
    .nav__panel-container{
      background-color: hsl(0, 0%, 3%, .6);
      position: fixed;
      inset: 0;
      z-index: 10;
      transform: translateX(-100%);
  }

  .nav__panel-container.expanded{
      transform: translateX(0%);
  }
  .nav__panel{
      background-color: #fff;
      width: 60%;
      height: 100%;
      padding: 35px;
  }
  
  .close img{ 
     height: 20px;
     width: 20px;
  }

  .nav{
      display: flex;
  }
  
  .nav__link-container{
      padding: 0;
      list-style: none;
      display: grid;
  }
  .nav__link a{
      text-decoration: none;
      font-weight: bold;
      color: black;
  }
      /* End ToggleMenu */


/* feature-path-text begins */


.f-path-text-p{
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
.f-path-text-p{
  color:hsl(26, 100%, 55%);
  height: 30px;
}
.f-path-bold {
  color: hsl(0, 0%, 0%);
  width: 400px;
  padding-bottom: 26px;
  font-size: 40px;
  
}       
.f-path-text-p2 {
  font-size: 19px;
  width:470px;
  line-height: 23px;
  color:  hsl(219, 9%, 45%);
}


/* feature-path-text ends */

/* light-box-section */

/* mobile version */

@media all and (max-width:960px){
header .container{
    flex-direction: row;
    align-items: flex-start;
}

header .container .navbar{
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 0,5s height ease-in-out;
}
.navIcon{
    margin-top: 6px;
}

li{
    display: block;
    text-align: center;
    padding: 1.5 rem 0;
}
header .container .madehead{
   padding: 10px;
}
.nav-toggle{
    display: block;
}
.nav-toggle .navIcon{
    padding: 10px 0;
}
.image-list{
    position: relative;
    top: 25px;
}
.sideImages{
    margin-right:20px;  
}

.cartIcon{
    padding-top: 8px;
    width:20px ;
}
.avatar{
    width:25px ;
    margin-top: 40px;
}
.avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

.logo{
  position: relative;
  left: 50px;
  top: 35px;
}
.section-container{
 margin: 0;
} 
.thumb-gallery{
visibility: hidden;
}

.nav{
  display: block;
}

}
/* desktop version  */

.section-container{
  margin: 0 180px 0 180px;
}
.lightbox{
  position: relative;
}
.Feature-1-2{
  position: absolute;
  top: 30px;
  left: 560px;

}
.img-text{
  width: auto;
  height: 530px;
  margin-top: 70px;
}
.product-hero img {
  width: auto;
  height: 500px;
  border-radius: 20px;
}
.thumb-gallery{
  display: flex;
}
.arrows{
  visibility: hidden;
}
.pic{
  padding-right: 30px;
}
.pic img{
  border-radius: 20px;
  width: 100px;
  height: auto;
}
.pic img:hover{
  border: 2px solid  hsl(26, 100%, 55%);
  opacity: 0.6;

}
.active img{
  border: 2px solid  hsl(26, 100%, 55%);
  opacity: 0.6;
}

.product{
position: absolute;
top: 290px;
}
.product__price--actual{
display: flex;

}
.fs-4{
font-size: 35px;
padding-right: 30px;
}
.price--discount{
padding: 5px 6px;
align-items: center;
display: flex;
background-color: hsl(25, 100%, 94%);
font-weight: bold;
color: hsl(26, 100%, 55%);
}
.price--original{
font-size: 20px;
text-decoration: line-through;
margin-top: 10px;
color:  hsl(220, 14%, 75%);
}

.checkout{
margin-top: 20px;
display: flex;
}
.checkout__btn{
padding-left: 70px;
padding-right: 70px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 10px;
margin-left: 130px;
border: none;
color: white;
background-color: hsl(26, 100%, 55%);
display: flex;
justify-content: center;
align-items: center;
}
.checkout__btn:hover{
background-color: hsl(24, 100%, 74%);

}
.fs-7{
margin-left: 10px;
font-size: 15px;

}
