*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

.container{
    background-color: rgba(rgb(231, 222, 222), rgb(216, 230, 216), rgb(244, 244, 248), alpha);
    display: flex;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.nav-toggle{
    display: none;
    position: relative;
    left: 1rem;
}

.hidden{
    display: none;
}

.madehead{
    font-family:'Kumbh Sans', sans-serif;
}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
    font-family:'Kumbh Sans', sans-serif;
}
ul li a{
    text-decoration: none;
    padding: 0 24px;
}

@media all and (max-width:720px){
    header .container{
        flex-direction: column;
        align-items: flex-start;
    }
    header .container .madehead h1{
        position: absolute;
        left: 83px;
    }
    header .container .navbar{
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 0,5s height ease-in-out;
    }
    .navIcon{
        margin-top: 6px;

    }

    li{
        display: block;
        text-align: center;
        padding: 1.5 rem 0;
    }
    header .container .madehead{
       padding: 10px;
    }
    .nav-toggle{
        display: block;
    }
    .nav-toggle .navIcon{
        padding: 10px 0;
    }

}
/* End of header */



  /* LIGHTBOX SECTION */


    /* Mobile View */

    .lightbox {
      position: relative;
    }
    
    .lightbox .product-hero {
      width: 100%;
    }
    
    .lightbox .previous {
      left: 4%;
    }
    
    .lightbox .previous:hover {
      left: 3%;
    }
    
    .lightbox .next {
      right: 4%;
    }
    
    .lightbox .next:hover {
      right: 3%;
    }
    
    .lightbox .arrow {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: white;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .lightbox .thumb-gallery {
      display: none;
    }
  
    
/* Desktop  View */
 
      .lightbox {
        width: 100%;
      }
      .lightbox .product-hero {
        border-radius: 1.5rem;
      }
      .lightbox .previous, .lightbox .next {
        display: none;
      }
      .lightbox .thumb-gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 3rem;
      }
      .lightbox .thumb-gallery .pic {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 20%;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow: hidden;
        border-radius: 1rem;
      }
      .lightbox .thumb-gallery .pic img {
        width: 100%;
      }
      .lightbox .thumb-gallery .pic img:hover {
        opacity: 0.75;
      }
      .lightbox .thumb-gallery .active {
        border: 2px solid #ff7d1a;
      }
      .lightbox .thumb-gallery .active img {
        opacity: 0.5;
      }

      .overlay .lightbox {
        max-width: 57rem;
      }
      
      .overlay .lightbox .next {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        right: 0;
        -webkit-transform: translateX(50%);
                transform: translateX(50%);
      }
      
      .overlay .lightbox .previous {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 0;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
      }
      
      .overlay .lightbox .arrow {
        top: 40%;
      }
      
      .hidden {
        display: none;
      }
      


      @media screen and (min-width: 1440px) {
        .container {
          width: 77%;
          margin: 0 auto;
        } 
      }
    











