*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

.container{
    background-color: rgba(rgb(231, 222, 222), rgb(216, 230, 216), rgb(244, 244, 248), alpha);
    display: flex;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.nav-toggle{
    display: none;
    position: relative;
    left: 1rem;
}

.hidden{
    display: none;
}

.madehead{
    font-family:'Kumbh Sans', sans-serif;
}

ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
    font-family:'Kumbh Sans', sans-serif;
}
ul li a{
    text-decoration: none;
    padding: 0 24px;
}

@media all and (max-width:720px){
    header .container{
        flex-direction: column;
        align-items: flex-start;
    }
    header .container .madehead h1{
        position: absolute;
        left: 83px;
    }
    header .container .navbar{
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: 0,5s height ease-in-out;
    }
    .navIcon{
        margin-top: 6px;

    }

    li{
        display: block;
        text-align: center;
        padding: 1.5 rem 0;
    }
    header .container .madehead{
       padding: 10px;
    }
    .nav-toggle{
        display: block;
    }
    .nav-toggle .navIcon{
        padding: 10px 0;
    }

}
/* End of header */

/* feature-path-text begins */

.feature-path-text {
    display: inline-block;
    position: absolute;
    margin-top: 3%;
    
}
.f-path-text-p{
    text-transform: uppercase;    
}
.f-path-text-p{
    color:hsl(26, 100%, 55%);
    height: 30px;
}
.f-path-bold {
    color: hsl(0, 0%, 0%);
    width: 60%;
    font-family: 'Kumbh Sans', sans-serif;
}

.feature-path-absolute {
    position: relative;
    left: 150%;

}
